body {
    font-family:'Arial';
    font-size:1em;
    background-color:#F1F1F1;
}
a {
    color:black;
    text-decoration: none;
  }


#navbar{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color:linen;
    margin: 0;
    top:0;
}

nav ul li {
    display: inline-block;
    margin: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
  }

ul{
    padding-left: 500px;
}

#welcome-section{
    padding-top: 100px;
    text-align: center;
    background-color:linen;
}

.project-tile{
    float: left;
    width: 50%;
    font-weight: bold;
    border:5px solid #ccc;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    font-weight:bold;

    
}
img{
    height: 430px;
    width: 650px;
}

#projects{
    color: #008080;
    font-weight: normal;
    text-align: center;
}

  
    
}