@media only screen and (max-width: 650px) {
    img.resize {
        width:auto; 
        height: auto;
    }
  }

body {
    font-family:'Arial';
    font-size:1em;
    background-color:#F1F1F1;
}
a {
    color:black;
    text-decoration: none;
  }


#navbar{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color:linen;
    margin: 0;
    top:0;
}

nav ul li {
    display: inline-block;
    margin: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
  }

ul{
    padding-left: 500px;
}

#welcome-section{
    top: 0;
    height:80vh;
    padding-top: 20Vh;
    display: block;
    text-align: center;
    background-color:linen;
    font-size: 30px;
    background-image: url(image/bg.jpg);
   
    background-position: center center;
}

.project{
    float: left;
    width: 100%;
    font-weight: bold;
    border:5px solid #ccc;
    padding:5px;
    box-sizing: border-box;
    background-color:rgb(241, 238, 238);
}

.project-tile{
    text-align: center;
    font-weight:bold;
}
    

img{
    height: auto;
    width: 650px;
}

#projects{
    color: #008080;
    font-weight: normal;
    text-align: center;
}
  
#contact{
    display: block;
    text-align: center;
    background-color:linen;
    padding-bottom: 50px;
}
.contact-info1:hover {
    color:burlywood;
}
    


#footer{
    text-align: center;
}
